AUTH_SECRET=replace-with-a-long-random-string
AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=your-google-oauth-client-id
GOOGLE_CLIENT_SECRET=your-google-oauth-client-secret
INSTITUTIONAL_EMAIL_DOMAIN=bitsathy.ac.in

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME=a100005

ALLOWED_USER_EMAILS=vbalakumar.cs24@bitsathy.ac.in,dhivyab.it24@bitsathy.ac.in,shobikap.cs24@bitsathy.ac.in,vasantharajm.cs24@bitsathy.ac.in,surendharr.cs24@bitsathy.ac.in,thamaraimanalanr.cs24@bitsathy.ac.in,anishd.cs24@bitsathy.ac.in,vijayprakasha.cs24@bitsathy.ac.in,dharshinisr.it24@bitsathy.ac.in,selvasobikam.cs24@bitsathy.ac.in,poovarasank.cs25@bitsathy.ac.in,ajaykrishnap.cs25@bitsathy.ac.in,dineshkumark.ad25@bitsathy.ac.in,maajithk.cs25@bitsathy.ac.in,dulasidassvm.cs25@bitsathy.ac.in
DEFAULT_ADMIN_EMAILS=vbalakumar.cs24@bitsathy.ac.in,dhivyab.it24@bitsathy.ac.in,shobikap.cs24@bitsathy.ac.in,vasantharajm.cs24@bitsathy.ac.in,thamaraimanalanr.cs24@bitsathy.ac.in
SUPER_ADMIN_EMAIL=vasantharajm.cs24@bitsathy.ac.in
